@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 100px;
  background-color:#051C2C;
  color: white;
}

.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.vh-center {
  margin: auto auto;
  width: 80%;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.one {
  background: #212738;
  font-family: 'Montserrat';
  animation: text 10s 1;
}
.two {
  background: #F97068;
  animation: text 10s 1;
}
.three {
  background: #EDF2EF;
  animation: text 10s 1;
}
.four {
  background: #57C4E5;
  animation: text 10s 1;
}
.center {
  text-align: center;
}


@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}

@keyframes two {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 100px;
    margin-bottom: -40px;
  }
}


